
  body {
    background: #fff;
    overflow-x: hidden;
    width: 100%;
  }

  #header {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 100%;

    a.top-left-icon {
      background: url("/image/header/theme_icon_1.png") no-repeat;
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
      clear: both;
      display: block;
      text-decoration: none;
      float: left;

    }
    .right-language-switcher {
      .language-switcher-item, .language-switcher-separator {
        color: #888;
      }
      .language-switcher-item {
        &.language-active {
          color: #222;
        }
      }

      float: left;
      padding-left: 150px;
      padding-top: 6px;
    }
    .right-auth-botton a {
      background: url("/image/header/theme_sign_up_button.png") no-repeat;
      background-size: 100px 36px;
      width: 100px;
      height: 40px;
      margin-left: 10px;
      display: block;
    }
  }

  .container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    .text-body {
      width: 100%;
      .top-font {
        font-size: 36px;
        font-weight: 600;
      }

      .bot-font {
        color: #979797;
        font-size: 36px;
        font-weight: 500;
        line-height: 26px;
      }

      p {
        font-size: 14px;
      }

      a {
        background: url("/image/header/theme_19.png") no-repeat;
        background-size: 200px 40px;
        width: 200px;
        height: 60px;
        margin-left: 72.5px;
        display: block;
      }
    }
  }

  .footer {
    width: 100%;

    .bottom-center {
      padding-right: 10px;
      padding-left: 10px;
      .font-top-bottom {
        font-size: 26px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;

      }
      .font-bot-bottom {
        padding-left: 15px;
        padding-right: 10px;
      }
    }
    .contact-form-bottom {
      padding-left: 10px;
      padding-right: 20px;
      .form-group {

        width: 100%;
        padding-top: 5px;
        padding-left: 14px;

      }
      .bottom-button-center {
        background: url("/image/header/theme_22.png") no-repeat;
        background-size: 340px 40px;
        width: 100%;
        height: 60px;
        margin-left: 10px;
      }
    }
  }






@media  (min-width: 414px) and (max-width: 736px) {

  #header {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 100%;

    a.top-left-icon {
      background: url("/image/header/theme_icon_1.png") no-repeat;
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
      clear: both;
      display: block;
      text-decoration: none;
      float: left;

    }
    .right-language-switcher {
      .language-switcher-item, .language-switcher-separator {
        color: #888;
      }
      .language-switcher-item {
        &.language-active {
          color: #222;
        }
      }

      float: left;
      padding-left: 205px;
      padding-top: 6px;
    }
    .right-auth-botton a {
      background: url("/image/header/theme_sign_up_button.png") no-repeat;
      background-size: 100px 36px;
      width: 100px;
      height: 40px;
      margin-left: 10px;
      display: block;
    }
  }

  .container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    .text-body {
      width: 100%;
      .top-font {
        font-size: 36px;
        font-weight: 600;
      }

      .bot-font {
        color: #979797;
        font-size: 36px;
        font-weight: 500;
        line-height: 26px;
      }

      p {
        font-size: 14px;
      }

      a {
        background: url("/image/header/theme_19.png") no-repeat;
        background-size: 200px 40px;
        width: 200px;
        height: 60px;
        margin-left: 72.5px;
        display: block;
      }
    }
  }

  .footer {
    width: 100%;

    .bottom-center {
      padding-right: 10px;
      padding-left: 25px;
      .font-top-bottom {
        font-size: 26px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;

      }
      .font-bot-bottom {
        padding-left: 15px;
        padding-right: 10px;
      }
    }
    .contact-form-bottom {
      padding-left: 25px;
      padding-right: 20px;
      .form-group {

        width: 100%;
        padding-top: 5px;
        padding-left: 14px;

      }
      .bottom-button-center {
        background: url("/image/header/theme_22.png") no-repeat;
        background-size: 360px 40px;
        width: 100%;
        height: 60px;
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  #header {

    .top-image {
      display: block;
      background: url("/image/header/theme_line.png") center left no-repeat;
      background-size: 500px;
      margin-left: 15px;
      width: 500px;
      height: 30px;
    }

    .right-language-switcher {
      padding: 0;
      padding-top: 5px;
      padding-left: 30px;
      height: 30px;
    }

  }

  .container {
    width: 400px;
    margin: 0;
    float: left;
  }

  .container-image {
    background: url("/image/header/theme_16.png") no-repeat;
    width: 400px;
    background-size: 340px;
    display: block;
    margin-left: 400px;
  }

  .top-footer {
    width: 400px;
    height: 400px;
    background: url("/image/header/theme_18.png") no-repeat;
    background-size: 370px;
    position: absolute;

    .image-top-footer {
      width: 40px;
      height: 40px;
      background: url("/image/header/theme_24.png") no-repeat;
      background-size: 40px;
      margin-bottom: 5px;
      float: right;
    }
  }

  .footer {
    float: right;
    padding-left: 420px;
    .contact-form-bottom {
      .bottom-button-center {
        background: url("/image/header/theme_22.png") no-repeat;
        background-size: 315px 40px;
        height: 60px;
        margin-left: 7px;
      }
    }
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 1024px) and (max-width: 1366px)  {
  #header {
    .top-left-icon {
      margin-left: 20px;
    }

    .top-image {
      display: block;
      background: url("/image/header/theme_line.png") center left no-repeat;
      background-size: 735px;
      margin-left: 15px;
      width: 735px;
      height: 30px;
    }

    .right-language-switcher {
      padding: 0;
      padding-top: 5px;
      padding-left: 30px;
      height: 30px;
    }

  }

  .container {
    width: 500px;
    margin: 0;
    float: left;
    margin-left: 20px;
  }

  .container-image {
    background: url("/image/header/theme_16.png") right no-repeat;
    width: 500px;
    background-size: 320px;
    display: block;
    margin-left: 500px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .top-footer {
    width: 450px;
    height: 450px;
    background: url("/image/header/theme_18.png") no-repeat;
    background-size: 420px;
    position: absolute;

    .image-top-footer {
      width: 40px;
      height: 40px;
      background: url("/image/header/theme_24.png") no-repeat;
      background-size: 40px;
      margin-right: 20px;
      float: right;
    }
  }

  .footer {
    float: right;
    padding-left: 420px;
    .contact-form-bottom {
      .bottom-button-center {
        background: url("/image/header/theme_22.png") no-repeat;
        background-size: 575px 40px;
        height: 60px;
        margin-left: 5px;
      }
    }
  }

}

  @media (min-width: 1075px) and (max-width: 1440px) {
    #header {
      .top-left-icon {
        background: url("/image/header/theme_icon_1.png") no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-left: 20px;
        clear: both;
        display: block;
        text-decoration: none;
        float: left;
      }

      .top-image {
        display: block;
        background: url("/image/header/theme_line.png") center left no-repeat;
        background-size: 842px;
        margin-left: 70px;
        width: 842px;
        height: 40px;
      }

      .right-language-switcher {
        padding: 0;
        padding-top: 5px;
        padding-left: 30px;
        height: 30px;
      }
      .language-switcher-item, .language-switcher-separator {
        color: #888;
        font-size: 22px;
      }
      .language-switcher-item {
        &.language-active {
          color: #222;
          font-size: 22px;
        }
      }
      .left-auth-botton {
        background: url("/image/header/theme_sign_in_button.png") no-repeat;
        background-size: 150px 40px;
        width: 150px;
        height: 40px;
        margin-left: 10px;
        display: block;
      }
      .right-auth-botton a {
        background: url("/image/header/theme_sign_up_button.png") no-repeat;
        background-size: 150px 40px;
        width: 150px;
        height: 40px;
        margin-left: 10px;
        display: block;
      }
    }

    .container {
      width: 580px;
      margin: 0;
      float: left;
      margin-left: 20px;

      .text-body {
        width: 100%;
        font-size: 18px;
        margin-left: 8em;
        margin-top: 5em;
        .top-font {
          font-size: 36px;
          font-weight: 600;
        }
        a {
          background: url("/image/header/theme_19.png") no-repeat;
          background-size: 225px 62px;
          width: 225px;
          height: 62px;
          margin-left: 0px;
          margin-top: 40px;
          display: block;
        }
      }
      .bot-font {
        color: #979797;
        font-size: 36px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 2em;
      }

      p {
        font-size: 36px;
      }

    }

    .container-image {
      background: url("/image/header/theme_16.png") right no-repeat;
      width: 576px;
      background-size: 576px;
      display: block;
      height: 522px;
      margin-left: 850px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .top-footer {
      width: 648px;
      height: 810px;
      background: url("/image/header/theme_18.png") no-repeat;
      background-size: 648px;
      position: absolute;

      .image-top-footer {
        width: 70px;
        height: 70px;
        vertical-align: middle;
        background: url("/image/header/theme_24.png") no-repeat;
        background-size: 70px;
        display: block;
        position: absolute;
        top: -17px;
        right: 0;
      }
    }

    .footer {
      width: 100%;
      padding-left: 720px;

      .bottom-center {
        padding-right: 10px;
        padding-left: 10px;
        .font-top-bottom {
          font-size: 36px;
          font-weight: 600;
          padding-left: 20px;
          padding-right: 20px;

        }
        .font-bot-bottom {
          font-size: 18px;
          padding-left: 15px;
          padding-right: 10px;
        }
      }
      .contact-form-bottom {
        padding-left: 10px;
        padding-right: 20px;
        .form-group {

          width: 500px;
          height: 50px;
          padding-top: 5px;
          padding-left: 14px;

        }
        .bottom-button-center {
          background: url("/image/header/theme_22.png") no-repeat;
          background-size: 500px 55px;
          width: 100%;
          height: 60px;
          margin-left: 10px;
        }
      }
    }
  }
